<!DOCTYPE HTML>
<html lang="en">
<head>

<title>Ryan Air API</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Messing with the Ryan Air API">

<link rel="stylesheet" href="assets/css/main.css">

<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
<link rel="manifest" href="assets/img/site.webmanifest">

</head>
<body>

<div id="root">
    <section class="wrapper">
        <h1 class="text-4xl">Ryan Air API</h1>
        <label for="airportIATACode">Departure airport</label>
        <select id="airportIATACode" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 leading-tight focus:outline-none" @change="getFares($event)">
            <option value="">Select departure airport</option>
            <option v-for="airport in airports" :value="airport.iataCode">{{ airport.name }}</option>
        </select>
    </section>

    <section class="wrapper">

        <img class="loading" src="assets/img/puff.svg" v-if="loading">

        <div class="block rounded overflow-hidden shadow-lg" v-if="fares" v-for="fare in fares">
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base">Flight No. {{ fare.outbound.flightNumber }}</p>
                <p class="font-bold text-xl mb-2">From: {{fare.outbound.departureAirport.name}}, {{fare.outbound.departureAirport.countryName}} {{fare.outbound.departureAirport.iataCode}}<br> To:
                {{fare.outbound.arrivalAirport.name}}, {{fare.outbound.arrivalAirport.countryName}} {{fare.outbound.arrivalAirport.iataCode}}</p>
                <p class="text-gray-700 text-base">
                    {{fare.outbound.price.currencySymbol}}{{fare.outbound.price.value}}
                    <span class="text-sm" v-if="fare.outbound.previousPrice">(Previously - {{fare.outbound.previousPrice.currencySymbol}}{{fare.outbound.previousPrice.value}})</span>
                    <br/>
                    <span class="text-xs" v-if="fare.outbound.priceUpdated">Last updated at: {{fare.outbound.priceUpdated | formatDate}}</span>
                </p>
                <p class="text-gray-700 text-base"><strong>Depart:</strong> {{fare.outbound.departureDate | formatDate}} <br> <strong>Arrive:</strong> {{fare.outbound.arrivalDate | formatDate}}</p>
            </div>
            <div class="px-6 py-4">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{fare.outbound.departureAirport.iataCode}}</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">&rarr;</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{fare.outbound.arrivalAirport.iataCode}}</span>
            </div>
        </div>
    </section>

</div>

<script src="assets/js/main.js"></script>

</body>
</html>
