<!DOCTYPE HTML>
<html>
<head>

<title>Ryan Air API</title>

<link rel="stylesheet" href="assets/css/main.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div id="root" class="wrapper">
    <h1 class="text-4xl">Ryan Air API</h1>

    <select id="airportIATACode" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 leading-tight focus:outline-none" @change="getFares($event)">
        <option value="">Select departure airport</option>
        <option value="ABZ">Aberdeen
        <option value="BFS">Belfast International</option>
        <option value="BHX">Birmingham</option>
        <option value="BOH">Bournemouth</option>
        <option value="BRS">Bristol</option>
        <option value="CWL">Cardiff</option>
        <option value="LDY">Derry</option>
        <option value="EMA">East Midlands</option>
        <option value="EDI">Edinburgh</option>
        <option value="EXT">Exeter</option>
        <option value="GLA">Glasgow</option>
        <option value="PIK">Glasgow Prestwick</option>
        <option value="LBA">Leeds Bradford</option>
        <option value="LPL">Liverpool</option>
        <option value="LGW">London Gatwick</option>
        <option value="LTN">London Luton</option>
        <option value="SEN">London Southend</option>
        <option value="STN">London Stansted</option>
        <option value="MAN">Manchester</option>
        <option value="NCL">Newcastle</option>
        <option value="NQY">Newquay Cornwall</option>
    </select>
</div>


<section class="wrapper">

    <div v-if="loading">Loading...</div>

    <div class="block rounded overflow-hidden shadow-lg" v-for="fare in fares">
        <div class="px-6 py-4">
            <p class="text-gray-700 text-base">Flight No. {{ fare.outbound.flightNumber }}</p>
            <p class="font-bold text-xl mb-2">From: {{fare.outbound.departureAirport.name}}, {{fare.outbound.departureAirport.countryName}} ({{fare.outbound.departureAirport.iataCode}})<br> To:
            {{fare.outbound.arrivalAirport.name}}, {{fare.outbound.arrivalAirport.countryName}} ({{fare.outbound.arrivalAirport.iataCode}})</p>
            <p class="text-gray-700 text-base">
            {{fare.outbound.price.currencySymbol}}{{fare.outbound.price.value}}
            <!-- {{#if outbound.previousPrice}} -->
                <span class="text-sm">(Previously - {{fare.outbound.previousPrice.currencySymbol}}{{fare.outbound.previousPrice.value}})</span>
            <!-- {{/if}} -->
            <br/>
            <!-- {{#if outbound.priceUpdated}} -->
                <span class="text-xs">Last updated at: {{fare.formatDate outbound.priceUpdated}}</span>
            <!-- {{/if}} -->
            </p>
            <p class="text-gray-700 text-base"><strong>Depart:</strong> {{fare.formatDate outbound.departureDate}} - <strong>Arrive:</strong> {{fare.formatDate outbound.arrivalDate}}</p>
        </div>
        <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{fare.outbound.departureAirport.iataCode}}</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">&rarr;</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{fare.outbound.arrivalAirport.iataCode}}</span>
        </div>
    </div>
</section>




<div id="app">
  <h1>Bitcoin Price Index</h1>

  <section v-if="errored">
    <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
  </section>

  <section v-else>
    <div v-if="loading">Loading...</div>

    <div
      v-else
      v-for="currency in info"
      class="currency"
    >
      {{ currency.description }}:
      <span class="lighten">
        <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
      </span>
    </div>

  </section>
</div>

<!-- Production mode -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<!-- Dev mode -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="assets/js/main.js"></script>

</body>
</html>
